.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.card-container h2 {
  flex-basis: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 30rem;
  overflow: visible;
  margin: 4rem 0;
  color: var(--dark);
  text-decoration: none;
}

.card h3 {
  width: 100%;
  margin: .5rem;
  font-size: 6rem;
  font-family: Futura;
  white-space: nowrap;
  overflow: visible;
}

.card h3::before {
  content: '.';
}

.card p {
  margin: 0 5rem;
}

.card img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25rem;
  width: 100%;
  max-width: 40rem;
  height: 25rem;
  object-fit: cover;
  background-color: var(--beige);
  border: none;
  z-index: -1;
}

.card__title-list {
  height: 10rem;
  width: 110%;
  overflow-y: hidden;
  overflow-x: visible;
  margin: 0;
  padding: 0;
}

.card__title-list li {
  list-style-type: none;
  transition: .5s;
}

.card:hover .card__title-list li:first-of-type {
  margin-top: -10rem;
}