.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.card-container h2 {
  flex-basis: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 30rem;
  overflow: visible;
  margin: 4rem 0;
  color: var(--dark);
  text-decoration: none;
}

.card h3 {
  width: 100%;
  margin: .5rem;
  font-size: 6rem;
  font-family: Futura;
  white-space: nowrap;
  overflow: visible;
  transition: .5s;
}

.card h3::before {
  content: '.';
}

.card p {
  margin: 0 5rem;
}

.card img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25rem;
  width: 100%;
  max-width: 40rem;
  height: 25rem;
  object-fit: cover;
  background-color: var(--beige);
  border: none;
  z-index: -1;
  transition: .5s;
}

.card__title-list {
  height: 9rem;
  width: 115%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.card__title-list li {
  position: absolute;
  list-style-type: none;
  transition: .5s;
}

.card:hover h3 {
  letter-spacing: 1rem;
}

.card:hover img {
  transform: translateY(-50%) scale(.95);
}

.card:hover .card__title-list li:first-of-type {
  margin-top: -10rem;
}

.card:hover .card__title-list li:first-of-type h3 {
  opacity: 0;
  transition: .2s;
}

.card .card__title-list li:last-of-type h3 {
  opacity: 0;
  transition: .2s;
}

.card:hover .card__title-list li:last-of-type h3 {
  opacity: 1;
}